@tailwind base;
@tailwind components;
@tailwind utilities;

.app-content {
	position: relative;
	z-index: 9;
}

.app-canvas {
	position: fixed;
	overflow: hidden;
	z-index: 10;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
