@tailwind base;
@tailwind components;
@tailwind utilities;

.app-content {
	position: relative;
	z-index: 11;
}

.app-canvas {
	position: fixed;
	overflow: hidden;
	height: 100dvh;
	width: -webkit-fill-available;
	z-index: 10;
}
